
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap');

:root{
    --primary-backgroundcolor : rgb(70, 7, 141) ;
}

body{
    font-family:"Zen Loop",cursive;
    margin: 0rem;
    /* background-image: image(); */
    background-image: url(/images/main_background_img.png);
    /* background-repeat:space; */

    
}

/* 
img{

   min-height: 100%;
   min-width: 1024px;

   width: 100%;
   height: auto;

   position: fixed;
   top: 0;
   left: 0;
   z-index: -1;
   
} */

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
}

.main-div{
    color: var(--primary-backgroundcolor);
    margin: auto;
    /* margin-top: 10%; */
    /* margin-left: 20%; */
    
    max-width:30% ;
    /* width: 100%; */
    height: auto;
    background-color: rgba(0, 101, 196, 0.158);
    border-top-right-radius: 7rem;
    border-bottom-left-radius: 7rem;
    border-style:solid;
    border-width: 1rem;
    border-color: var(--primary-backgroundcolor);
    font-size: 25px;
  
    font-style: italic;
    padding: 1rem;

 
}
.result-div{
    text-align: center;
    padding: 1rem;
    margin: auto;
    font
}


@media (max-width:460px){
    .main-div{
        max-width : 80%;
    }
  
}
/* 
h1{
    padding: 0.5rem;
}
h2{
    padding: 0.5rem;
} */
.stockdiv{
    margin: auto;
    background-color: rgba(0, 101, 196, 0.61);
    text-align: center;
    width: fit-content;   
}
/* .stpckquantity{
    margin: auto;
    background-color: rgb(46, 143, 235);
    text-align: center;   
} */

input{
    cursor: pointer;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    
}


.checkButton{
    text-align: center;
    padding: 1rem;

}

button{
    font-size: larger;
    padding: 1rem 2rem;
    font-weight: bolder;
    border-radius: 1rem;
    border-width: 0.5rem;
    border-style: solid;
    cursor: pointer;
}
#github a{
    text-decoration: none;
}